{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col s12 m4">
      <h4 >2017</h4>
      <ul >
        <li>
          <i class="material-icons icon">keyboard_arrow_right</i><a href="2017_v5_i1.html">Volume 05 Issue.1</a>
        </li>
        <li>
        <i class="material-icons icon">keyboard_arrow_right</i><a href="2017_v5_i2.html">Volume 05 Issue.2</a>
        </li>
        <li>
        <i class="material-icons icon">keyboard_arrow_right</i><a href="2017_v5_i3.html">Volume 05 Issue.3</a>
        </li>
        <li>
        <i class="material-icons icon">keyboard_arrow_right</i><a href="2017_v5_i4.html">Volume 05 Issue.4</a>
        </li>
        <li>
        <i class="material-icons icon">keyboard_arrow_right</i><a href="2017_v5_i5.html">Volume 05 Issue.5</a>
        </li>
      </ul>
    </div>
    <div class="col s12 m4">
      <h4 >2016</h4>
      <ul >
        <li>
          <i class="material-icons icon">keyboard_arrow_right</i><a href="2016_v4_i1.html">Volume 04 Issue.1</a>
        </li>
        <li>
        <i class="material-icons icon">keyboard_arrow_right</i><a href="2016_v4_i2.html">Volume 04 Issue.2</a>
        </li>
        <li>
        <i class="material-icons icon">keyboard_arrow_right</i><a href="2016_v4_i3.html">Volume 04 Issue.3</a>
        </li>
        <li>
        <i class="material-icons icon">keyboard_arrow_right</i><a href="2016_v4_i4.html">Volume 04 Issue.4</a>
        </li>
        <li>
        <i class="material-icons icon">keyboard_arrow_right</i><a href="2016_v4_i5.html">Volume 04 Issue.5</a>
        </li>
        <li>
          <i class="material-icons icon">keyboard_arrow_right</i><a href="2016_v4_i6.html">Volume 04 Issue.6</a>
        </li>
        <li>
        <i class="material-icons icon">keyboard_arrow_right</i><a href="2016_v4_i7.html">Volume 04 Issue.7</a>
        </li>
        <li>
        <i class="material-icons icon">keyboard_arrow_right</i><a href="2016_v4_i8.html">Volume 04 Issue.8</a>
        </li>
        <li>
        <i class="material-icons icon">keyboard_arrow_right</i><a href="2016_v4_i9.html">Volume 04 Issue.9</a>
        </li>
        <li>
        <i class="material-icons icon">keyboard_arrow_right</i><a href="2016_v4_i10.html">Volume 04 Issue.10</a>
        </li>
        <li>
        <i class="material-icons icon">keyboard_arrow_right</i><a href="2016_v4_i11.html">Volume 04 Issue.11</a>
        </li>
        <li>
        <i class="material-icons icon">keyboard_arrow_right</i><a href="2016_v4_i12.html">Volume 04 Issue.12</a>
        </li>
      </ul>
    </div>
    <div class="col s12 m4">
      <h4 >2015</h4>
      <ul >
        <li>
          <i class="material-icons icon">keyboard_arrow_right</i><a href="2015_v3_i1.html">Volume 03 Issue.1</a>
        </li>
        <li>
        <i class="material-icons icon">keyboard_arrow_right</i><a href="2015_v3_i2.html">Volume 03 Issue.2</a>
        </li>
        <li>
        <i class="material-icons icon">keyboard_arrow_right</i><a href="2015_v3_i3.html">Volume 03 Issue.3</a>
        </li>
        <li>
        <i class="material-icons icon">keyboard_arrow_right</i><a href="2015_v3_i4.html">Volume 03 Issue.4</a>
        </li>
        <li>
        <i class="material-icons icon">keyboard_arrow_right</i><a href="2015_v3_i5.html">Volume 03 Issue.5</a>
        </li>
        <li>
          <i class="material-icons icon">keyboard_arrow_right</i><a href="2015_v3_i6.html">Volume 03 Issue.6</a>
        </li>
        <li>
        <i class="material-icons icon">keyboard_arrow_right</i><a href="2015_v3_i7.html">Volume 03 Issue.7</a>
        </li>
        <li>
        <i class="material-icons icon">keyboard_arrow_right</i><a href="2015_v3_i8.html">Volume 03 Issue.8</a>
        </li>
        <li>
        <i class="material-icons icon">keyboard_arrow_right</i><a href="2015_v3_i9.html">Volume 03 Issue.9</a>
        </li>
        <li>
        <i class="material-icons icon">keyboard_arrow_right</i><a href="2015_v3_i10.html">Volume 03 Issue.10</a>
        </li>
        <li>
        <i class="material-icons icon">keyboard_arrow_right</i><a href="2015_v3_i11.html">Volume 03 Issue.11</a>
        </li>
        <li>
        <i class="material-icons icon">keyboard_arrow_right</i><a href="2015_v3_i12.html">Volume 03 Issue.12</a>
        </li>
      </ul><br />
    </div>  <div class="col s12 m4">
        <h4 >2014</h4>
        <ul >
          <li>
            <i class="material-icons icon">keyboard_arrow_right</i><a href="2014_v2_i1.html">Volume 02 Issue.1</a>
          </li>
          <li>
          <i class="material-icons icon">keyboard_arrow_right</i><a href="2014_v2_i2.html">Volume 02 Issue.2</a>
          </li>
          <li>
          <i class="material-icons icon">keyboard_arrow_right</i><a href="2014_v2_i3.html">Volume 02 Issue.3</a>
          </li>
          <li>
          <i class="material-icons icon">keyboard_arrow_right</i><a href="2014_v2_i4.html">Volume 02 Issue.4</a>
          </li>
          <li>
          <i class="material-icons icon">keyboard_arrow_right</i><a href="2014_v2_i5.html">Volume 02 Issue.5</a>
          </li>
          <li>
            <i class="material-icons icon">keyboard_arrow_right</i><a href="2014_v2_i6.html">Volume 02 Issue.6</a>
          </li>
          <li>
          <i class="material-icons icon">keyboard_arrow_right</i><a href="2014_v2_i7.html">Volume 02 Issue.7</a>
          </li>
          <li>
          <i class="material-icons icon">keyboard_arrow_right</i><a href="2014_v2_i8.html">Volume 02 Issue.8</a>
          </li>
          <li>
          <i class="material-icons icon">keyboard_arrow_right</i><a href="2014_v2_i9.html">Volume 02 Issue.9</a>
          </li>
          <li>
          <i class="material-icons icon">keyboard_arrow_right</i><a href="2014_v2_i10.html">Volume 02 Issue.10</a>
          </li>
          <li>
          <i class="material-icons icon">keyboard_arrow_right</i><a href="2014_v2_i11.html">Volume 02 Issue.11</a>
          </li>
          <li>
          <i class="material-icons icon">keyboard_arrow_right</i><a href="2014_v2_i12.html">Volume 02 Issue.12</a>
          </li>
        </ul>
      </div>
      <div class="col s12 m4">
        <h4 >2013</h4>
        <ul >
          <li>
            <i class="material-icons icon">keyboard_arrow_right</i><a href="2013_v1_i1.html">Volume 01 Issue.1</a>
          </li>
          <li>
          <i class="material-icons icon">keyboard_arrow_right</i><a href="2013_v1_i2.html">Volume 01 Issue.2</a>
          </li>
          <li>
          <i class="material-icons icon">keyboard_arrow_right</i><a href="2013_v1_i3.html">Volume 01 Issue.3</a>
          </li>
          <li>
          <i class="material-icons icon">keyboard_arrow_right</i><a href="2013_v1_i4.html">Volume 01 Issue.4</a>
          </li>
          <li>
          <i class="material-icons icon">keyboard_arrow_right</i><a href="2013_v1_i5.html">Volume 01 Issue.5</a>
          </li>
        </ul>
      </div>
  </div>
</div>

{% endblock content %}
