{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col s12 m4">
      <h4 >2017</h4>
      <ul >
        <li>
          <i class="material-icons icon">keyboard_arrow_right</i><a href="#">Volume 05 Issue.1</a>
        </li>
        <li>
        <i class="material-icons icon">keyboard_arrow_right</i><a href="#">Volume 05 Issue.2</a>
        </li>
        <li>
        <i class="material-icons icon">keyboard_arrow_right</i><a href="#">Volume 05 Issue.3</a>
        </li>
        <li>
        <i class="material-icons icon">keyboard_arrow_right</i><a href="#">Volume 05 Issue.4</a>
        </li>
        <li>
        <i class="material-icons icon">keyboard_arrow_right</i><a href="#">Volume 05 Issue.5</a>
        </li>
      </ul>
    </div>
    <div class="col s12 m4">
      <h4 >2016</h4>
      <ul >
        <li>
          <i class="material-icons icon">keyboard_arrow_right</i><a href="#">Volume 04 Issue.1</a>
        </li>
        <li>
        <i class="material-icons icon">keyboard_arrow_right</i><a href="#">Volume 04 Issue.2</a>
        </li>
        <li>
        <i class="material-icons icon">keyboard_arrow_right</i><a href="#">Volume 04 Issue.3</a>
        </li>
        <li>
        <i class="material-icons icon">keyboard_arrow_right</i><a href="#">Volume 04 Issue.4</a>
        </li>
        <li>
        <i class="material-icons icon">keyboard_arrow_right</i><a href="#">Volume 04 Issue.5</a>
        </li>
        <li>
          <i class="material-icons icon">keyboard_arrow_right</i><a href="#">Volume 04 Issue.6</a>
        </li>
        <li>
        <i class="material-icons icon">keyboard_arrow_right</i><a href="#">Volume 04 Issue.7</a>
        </li>
        <li>
        <i class="material-icons icon">keyboard_arrow_right</i><a href="#">Volume 04 Issue.8</a>
        </li>
        <li>
        <i class="material-icons icon">keyboard_arrow_right</i><a href="#">Volume 04 Issue.9</a>
        </li>
        <li>
        <i class="material-icons icon">keyboard_arrow_right</i><a href="#">Volume 04 Issue.10</a>
        </li>
        <li>
        <i class="material-icons icon">keyboard_arrow_right</i><a href="#">Volume 04 Issue.11</a>
        </li>
        <li>
        <i class="material-icons icon">keyboard_arrow_right</i><a href="#">Volume 04 Issue.12</a>
        </li>
      </ul>
    </div>
    <div class="col s12 m4">
      <h4 >2015</h4>
      <ul >
        <li>
          <i class="material-icons icon">keyboard_arrow_right</i><a href="#">Volume 03 Issue.1</a>
        </li>
        <li>
        <i class="material-icons icon">keyboard_arrow_right</i><a href="#">Volume 03 Issue.2</a>
        </li>
        <li>
        <i class="material-icons icon">keyboard_arrow_right</i><a href="#">Volume 03 Issue.3</a>
        </li>
        <li>
        <i class="material-icons icon">keyboard_arrow_right</i><a href="#">Volume 03 Issue.4</a>
        </li>
        <li>
        <i class="material-icons icon">keyboard_arrow_right</i><a href="#">Volume 03 Issue.5</a>
        </li>
        <li>
          <i class="material-icons icon">keyboard_arrow_right</i><a href="#">Volume 03 Issue.6</a>
        </li>
        <li>
        <i class="material-icons icon">keyboard_arrow_right</i><a href="#">Volume 03 Issue.7</a>
        </li>
        <li>
        <i class="material-icons icon">keyboard_arrow_right</i><a href="#">Volume 03 Issue.8</a>
        </li>
        <li>
        <i class="material-icons icon">keyboard_arrow_right</i><a href="#">Volume 03 Issue.9</a>
        </li>
        <li>
        <i class="material-icons icon">keyboard_arrow_right</i><a href="#">Volume 03 Issue.10</a>
        </li>
        <li>
        <i class="material-icons icon">keyboard_arrow_right</i><a href="#">Volume 03 Issue.11</a>
        </li>
        <li>
        <i class="material-icons icon">keyboard_arrow_right</i><a href="#">Volume 03 Issue.12</a>
        </li>
      </ul><br />
    </div>  <div class="col s12 m4">
        <h4 >2014</h4>
        <ul >
          <li>
            <i class="material-icons icon">keyboard_arrow_right</i><a href="#">Volume 02 Issue.1</a>
          </li>
          <li>
          <i class="material-icons icon">keyboard_arrow_right</i><a href="#">Volume 02 Issue.2</a>
          </li>
          <li>
          <i class="material-icons icon">keyboard_arrow_right</i><a href="#">Volume 02 Issue.3</a>
          </li>
          <li>
          <i class="material-icons icon">keyboard_arrow_right</i><a href="#">Volume 02 Issue.4</a>
          </li>
          <li>
          <i class="material-icons icon">keyboard_arrow_right</i><a href="#">Volume 02 Issue.5</a>
          </li>
          <li>
            <i class="material-icons icon">keyboard_arrow_right</i><a href="#">Volume 02 Issue.6</a>
          </li>
          <li>
          <i class="material-icons icon">keyboard_arrow_right</i><a href="#">Volume 02 Issue.7</a>
          </li>
          <li>
          <i class="material-icons icon">keyboard_arrow_right</i><a href="#">Volume 02 Issue.8</a>
          </li>
          <li>
          <i class="material-icons icon">keyboard_arrow_right</i><a href="#">Volume 02 Issue.9</a>
          </li>
          <li>
          <i class="material-icons icon">keyboard_arrow_right</i><a href="#">Volume 02 Issue.10</a>
          </li>
          <li>
          <i class="material-icons icon">keyboard_arrow_right</i><a href="#">Volume 02 Issue.11</a>
          </li>
          <li>
          <i class="material-icons icon">keyboard_arrow_right</i><a href="#">Volume 02 Issue.12</a>
          </li>
        </ul>
      </div>
      <div class="col s12 m4">
        <h4 >2013</h4>
        <ul >
          <li>
            <i class="material-icons icon">keyboard_arrow_right</i><a href="#">Volume 01 Issue.1</a>
          </li>
          <li>
          <i class="material-icons icon">keyboard_arrow_right</i><a href="#">Volume 01 Issue.2</a>
          </li>
          <li>
          <i class="material-icons icon">keyboard_arrow_right</i><a href="#">Volume 01 Issue.3</a>
          </li>
          <li>
          <i class="material-icons icon">keyboard_arrow_right</i><a href="#">Volume 01 Issue.4</a>
          </li>
          <li>
          <i class="material-icons icon">keyboard_arrow_right</i><a href="#">Volume 01 Issue.5</a>
          </li>
        </ul>
      </div>
  </div>
</div>

{% endblock content %}
