{% extends "base.html" %}
{% block content %}
<table class="centered bordered responsive-table" style="font-size:15px;">
<thead>
  <tr>
      <th>S.no</th>
      <th>Title/Authors</th>
      <th>Download</th>
  </tr>
</thead>

<tbody>
{% for row in rows %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ row.content|safe }}</td>
    <td><a class="table-link" href="{{ row.url }}"><i class="material-icons">picture_as_pdf</i></a></td>
  </tr>
{% endfor %}
</tbody>
</table>
{% endblock content %}
