{% extends "base.html" %}
{% block content %}
<p><strong>Type of articles considered<br />
</strong>IJRRAS is a multidisciplinary journal and therefore research findings (papers), reviews, case reports, letters to the editor of general significance that are written clearly and well organized will be given preference. It invites papers under the following <strong>categories:</strong><br />
    1. Research papers<br />
    2. Reviews/special articles*<br />
    3. Case reports<br />
    4. Letters to the Editor**</p>
  <p>*Reviews and Special articles will be considered from senior scientists</p>
  <p>**A letter can be a brief scientific communication</p>
  <p>In general, the length of full research paper should not exceed six (6) printed pages of the journal with each page containing approximately 450-500 words. Reviews/special articles can go up to 8 printed pages. Case report is limited to 4 pages and letter to the editor 2 pages is print.</p>
  <p><strong>The format of each research paper should be as follows:</strong><br />
    i) Title page having title, authors, address, corresponding author's name, email id, abstract and key words<br />
    ii) Introduction<br />
    iii) Materials and Methods<br />
    iv) Results<br />
    v) Discussion<br />
    vi) Acknowledgement (if any)<br />
    vii) References</p>
  <p><strong>Title page</strong><br />
    It should contain, in the following order, the complete 'Title' with sub-title, if any, of the research work, followed by a short title for use in folio line; complete name(s) of the author(s); respective affiliation(s) of the author(s); an 'abstract' (briefly, in about 200 words, it should contain the purpose, methods, results and conclusion(s) of the paper); 3-5 'keywords; and at the bottom, complete contact details of the corresponding author.</p>
  <p><strong>Introduction</strong><br />
    It should provide sufficient information on the topic of research to help the reader(s) understand and evaluate the presented study. Previous work should be cited correctly while avoiding a lengthy review on the topic. It should clearly outline the scientific hypothesis that was analyzed and the rationale for the study and the experiments undertaken.</p>
  <p><strong>Materials and Methods</strong><br />
    This section must be detailed enough to allow reproduction of the experiments described. Novel methods and relevant modification, as well as genuine technical innovations, have to be described completely, but there is no need for repeating methods that are published in detail elsewhere. Also, authors should remember to do the following:<br />
    1)Clearly mention the department and institution where the research work was carried out.<br />
    2) Study group or sampling method should be clearly mentioned. Period(s) when the study was carried out need(s), if necessary.<br />
    3) The method(s) and procedure(s) should be explicitly stated to enable other research workers to reproduce the result(s), if necessary.<br />
    4) Provide reference(s) and brief description(s) for methods(s) that has/have been published but is/are not well known.<br />
    5) Describe new or substantially modified method(s). Give reasons for using it/them. Indicate its/their limitation(s).<br />
    6) Established method(s) can be just mentioned with reference.<br />
    7) If the procedure(s) involve(s) an assay, include data on its accuracy, specificity, sensitivity and reproducibility.<br />
    8) Details of statistical method(s) adopted for analysis of data should be described.<br />
    9) The statistical analysis and significance of the findings when appropriate should be mentioned.</p>
  <p><strong>Results</strong><br />
    This section should present the data as clearly as possible. Authors are encouraged to describe the rationale for the experimental design, but extensive interpretation must be reserved for the discussion. Please avoid redundancy in the presentation of data. Results in the form of a figure may not be presented additionally as a table or vice-versa. Only important data should be mentioned. Statistical tests and values must be mentioned in tables. Only important observations need to be emphasized or summarized.</p>
  <p>Necessary tables and figures should be in appropriate places in the text. Tables should not be placed in boxes but in plain format. The caption for the table should be given at the top of the table. Statistics relevant to the data should be given as foot note under the table.</p>
  <p>Discussion It should give the main conclusion(s) from the experimental data without lengthy repetition and should interpret the same with respect to relevant literature. The discussion should deal with the interpretation of results and avoid repeating what has already been presented under results. The conclusion(s) can be linked with the goal(s) of the study.</p>
  <p>Acknowledgement(s) In this section, the authors(s) may thank/acknowledge personal, institutional and financial assistance received to undertake research work related to the manuscript.</p>
  <p><strong>References</strong><br />
    As per the APA guidelines<br />
  </p>
{% endblock content %}
