{% extends "base.html" %}
{% block content %}

<table class="centered bordered" style="font-size:15px;">
 <thead>
   <tr>
       <th>S.NO</th>
       <th>Title/Authors</th>
       <th>Download</th>
   </tr>
 </thead>

 <tbody>
   <tr>
     <td>1</td>
     <td>Effect of Yogic Practices on Inspiratory Reserve Volume And Anxiety Among Middle Aged Men <strong>Elumalai & Dr. K. Venkatachalapathy</strong></td>
     <td><a href="#"><i class="material-icons">picture_as_pdf</i></a></td>
   </tr>
   <tr>
     <td>2</td>
     <td>Effect of yogic packages on selected bio-chemisal variables among volleyball plyers <br /><strong>Jelastin d. Prabu & Dr.N.Aseer Rufus</strong></td>
     <td><a href="#"><i class="material-icons">picture_as_pdf</i></a></td>
   </tr>
   <tr>
     <td>3</td>
     <td>Effect of block periodozation and daily undulating periodization Training on selected speed parameters among Basketball players<br /><strong>M.Sivabalan & Dr.P.Sivagnanam</strong></td>
     <td><a href="#"><i class="material-icons">picture_as_pdf</i></a></td>
   </tr>
   <tr>
     <td>4</td>
     <td>Correlation between selected physical and physiological variables with playing ability among college level Male basketball players<br /><strong>G. Chidambaram & Dr.A.Mahaboobjan</strong></td>
     <td><a href="#"><i class="material-icons">picture_as_pdf</i></a></td>
   </tr>
   <tr>
     <td>5</td>
     <td>Effect of taekwon-do practice on speed, agility and
Flexiblity among adolescent boys<br /><strong>S. Rajamony, Dr. S. Suthakar & Dr.A.M.moorthi</strong></td>
     <td><a href="#"><i class="material-icons">picture_as_pdf</i></a></td>
   </tr>
 </tbody>
</table>


{% endblock content %}
