{% extends "base.html" %}
{% block content %}
<p>
  The information and opinions presented in the journal reflect the views of the authors and not of the journal or its editorial board or the publisher. Publication does not constitute endorsement by the journal. Neither the journal nor anyone else involved in creating, producing or delivering IJRRAS or the materials contained therein, assumes any liability or responsibility for the accuracy, completeness, or usefulness of any information provided in IJRRAS, nor shall they be liable for any direct, indirect, incidental, special, consequential or punitive damages arising out of the use of IJRRAS. IJRRAS or any other party involved in the preparation of the material contained in IJRRAS represents or warrants that the information contained herein is in every respect accurate or complete, and they are not responsible for any errors or omissions or for the results obtained from the use of such material. Readers are encouraged to confirm the information contained herein with other sources.
</p>

{% endblock content %}
