{% extends "base.html" %}
{% block content %}
<h5>Welcome</h5>
<p>
<strong>Star research is an International online journal.</strong> It is the process through which experts in the field of study assess the quality of articles that are submitted to a journal for publication. The journal is aimed to publish original ideas of empirical and research papers that will contribute to the knowledge of the readers and add value to the literature of Science, Engineering and Technology, Medical Science, Biomedical, life science, Social Sciences &amp; Humanities and all the disciplines.<br />
The Journal welcomes the submission of manuscripts that meet the general criteria of significance and academic excellence. Papers will be published approximately one week after acceptance.<br />
    <br />
Every manuscript is reviewed usually by two reviewers (Both have been, published in whole or in part in any other journal / Both being from a different country / at least one from different institution from the author) familiar with the relevant field of research. To provide the quality information and knowledge that enables our readers to perform their jobs efficiently. Our readers are researchers, students, academics and increasingly professionals.<br />
    <br />
We welcome papers from both academicians and practitioners on theories, business models, conceptual paradigms, academic research, and consultancy projects.</p>
{% endblock content %}
