{% extends "base.html" %}
{% block content %}
<p>
  Star Research Journal is committed to sustain the highest standards of publication ethics. Authors should submit their works to SRJ for publication as an original article. SRJ encourages integrity in research, writing, and peer review by presenting the
  gold-standard for editorial processes across the scholarly disciplines. The editors should strive to meet the needs of readers and authors; strive to constantly improve their journal; have processes in place to assure the quality of the material they
  publish; champion freedom of expression; maintain the integrity of the academic record; preclude business needs from compromising intellectual and ethical standards; always be willing to publish corrections, clarifications, retractions and apologies
  when needed.
</p>

{% endblock content %}
