{% extends "base.html" %}
{% block content %}
<strong>PUBLICATION CHARGES</strong><br />
  The STAR Journal is a sincere effort to provide International Platform for quality research papers. STAR Journal depends, in part, on the payment of publication fees to finance its expenses. Our expenses are split among editorial costs, electronic composition and production, journal information system, electronic archiving, overhead expenses, administrative costs etc. Articles are accepted or rejected for publication and published solely on the basis of merit. Authors will be assessed the following fees:</td>
<tr>
<td><table width="700" border="1">
  <tr>
    <td width="250">Categories</td>
    <td width="250">INDIANS</td>
    <td width="250">NRI/ FOREIGN AUTHORS</td>
  </tr>
  <tr>
    <td width="250">Students &amp; Research Scholars</td>
    <td width="250">800 INR</td>
    <td width="250">$50 USD</td>
  </tr>
  <tr>
    <td width="250">Professionals and Academicians</td>
    <td width="250">1200 INR</td>
    <td width="250">$75 USD</td>
  </tr>
</table></td>
</tr>

{% endblock content %}
